<h3>Edit Debt</h3>
<form class="debts-form flex column m-start c-center gap-2">
  <!-- Populate dynamically -->
  <div class="debt-section flex column m-start c-center gap-2">
    <tui-input tuiTextfieldSize="s">
      Name
      <input tuiTextfield />
    </tui-input>
    <tui-input tuiTextfieldSize="s">
      Amount ($)
      <input tuiTextfield />
    </tui-input>
    <tui-input tuiTextfieldSize="s">
      Insurable Future Value ($)
      <input tuiTextfield />
    </tui-input>
    <button tuiButton type="button" appearance="secondary" class="edit-button">
      Edit
    </button>
    <button
      tuiButton
      type="button"
      appearance="secondary"
      class="delete-button">
      Delete
    </button>
    <app-horizontal-divider></app-horizontal-divider>
  </div>
  <button tuiButton type="button" appearance="primary" class="new-button">
    Add New
  </button>
</form>
<div class="bottom-actions">
  <button
    tuiButton
    type="button"
    size="s"
    appearance="secondary"
    class="cancel-button">
    Cancel
  </button>
  <button
    tuiButton
    type="button"
    size="s"
    appearance="primary"
    class="save-button">
    Save
  </button>
</div>
