<app-header-bar pageName="Edit Debt"></app-header-bar>
<form class="debt-edit-form flex column m-start c-center gap-2">
  <tui-input tuiTextfieldSize="s">
    Debt Name
    <input tuiTextfield />
  </tui-input>
  <tui-input tuiTextfieldSize="s">
    Initial Value ($)
    <input tuiTextfield />
  </tui-input>
  <tui-input tuiTextfieldSize="s">
    Year Acquired
    <input tuiTextfield />
  </tui-input>
  <tui-input tuiTextfieldSize="s">
    Interest Rate (%)
    <input tuiTextfield />
  </tui-input>
  <tui-input tuiTextfieldSize="s">
    Term (Years)
    <input tuiTextfield />
  </tui-input>
  <tui-input tuiTextfieldSize="s">
    Annual Payment ($)
    <input tuiTextfield />
  </tui-input>
</form>
<app-action-bar></app-action-bar>
