:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: black;
  height: 100%;
}

.goals-form {
  height: 100%;
  width: 100%;

  > * {
    width: 90%;
  }
}

.nav-tabs {
  margin-bottom: 1em;
}

.goals-result-container {
  height: 100%;
  width: 100%;

  > * {
    width: 90%;
  }
}

.goal-section {
  > * {
    width: 100%;
  }
}
