<app-calculator>
  <tui-tabs
    class="nav-tabs flex row m-center"
    [(activeItemIndex)]="activeItemIndex">
    <button tuiTab>Input Data</button>
    <button tuiTab>Results</button>
  </tui-tabs>
  <form
    class="goals-form flex column m-start c-center gap-2"
    *ngIf="activeItemIndex === 0; else elseBlock"
    [formGroup]="goalsForm">
    <tui-input tuiTextfieldSize="s" formControlName="liquidityAllocatedToGoals">
      % Liquidity Allocated to Goals
      <input tuiTextfield />
    </tui-input>
    <app-horizontal-divider></app-horizontal-divider>
    <!-- Populate dynamically -->
    <div class="goal-section flex column m-start c-center gap-2">
      <tui-input tuiTextfieldSize="s" formControlName="name">
        Name
        <input tuiTextfield />
      </tui-input>
      <tui-input tuiTextfieldSize="s" formControlName="amount">
        Amount ($)
        <input tuiTextfield />
      </tui-input>
      <tui-checkbox-block formControlName="philanthropic"
        >Philanthropic</tui-checkbox-block
      >
      <button
        tuiButton
        type="button"
        appearance="secondary"
        class="delete-button">
        Delete
      </button>
      <app-horizontal-divider></app-horizontal-divider>
    </div>
    <button tuiButton type="button" appearance="primary" class="delete-button">
      Add New
    </button>
  </form>
  <ng-template #elseBlock>
    <div class="goals-result-container gap-2 flex column c-center">
      <app-value-card
        [value]="currentValueOfFixedAssets"
        [compact]="true"></app-value-card>
      <app-value-card
        [value]="futureValueOfFixedAssets"
        [compact]="true"></app-value-card>
      <app-value-card
        [value]="currentValueOfLiquidAssets"
        [compact]="true"></app-value-card>
      <app-value-card
        [value]="futureValueOfLiquidAssets"
        [compact]="true"></app-value-card>
      <app-value-card
        [value]="currentValueOfAssetsToBeSold"
        [compact]="true"></app-value-card>
      <app-value-card
        [value]="futureValueOfAssetsToBeSold"
        [compact]="true"></app-value-card>
      <app-value-card
        [value]="percentageLiquidityAllocatedToGoals"
        [compact]="true"></app-value-card>
      <app-value-card
        [value]="liquidityPreserved"
        [compact]="true"></app-value-card>
      <app-value-card
        [value]="liquidityAllocatedTowardsGoals"
        [compact]="true"></app-value-card>
      <app-value-card
        [value]="totalSumOfAllGoals"
        [compact]="true"></app-value-card>
      <app-value-card [value]="surplus" [compact]="true"></app-value-card>
      <app-bar-chart header="Value ($)"></app-bar-chart>
    </div>
  </ng-template>
</app-calculator>
