:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: white;
  height: 100%;
}

.asset-edit-form,
.asset-beneficiary-form {
  height: 100%;
  width: 100%;

  > * {
    width: 90%;
  }
}

.nav-tabs {
  margin-bottom: 1em;
}

.asset-section {
  > * {
    width: 100%;
  }
}
