<app-header-bar pageName="Edit Asset"></app-header-bar>
<tui-tabs
  class="nav-tabs flex row m-center"
  [(activeItemIndex)]="activeItemIndex">
  <button tuiTab>Information</button>
  <button tuiTab>Beneficiaries</button>
</tui-tabs>
<form
  class="asset-edit-form flex column m-start c-center gap-2"
  *ngIf="activeItemIndex === 0; else elseBlock"
  [formGroup]="assetEditInformationForm">
  <tui-select formControlName="type">
    Type
    <tui-data-list-wrapper *tuiDataList [items]="types"></tui-data-list-wrapper>
  </tui-select>
  <tui-input tuiTextfieldSize="s" formControlName="assetName">
    Asset Name
    <input tuiTextfield />
  </tui-input>
  <tui-input-number tuiTextfieldSize="s" formControlName="yearAcquired">
    Year Acquired
    <input tuiTextfield />
  </tui-input-number>
  <tui-input-number tuiTextfieldSize="s" formControlName="initialValue">
    Initial Value ($)
    <input tuiTextfield />
  </tui-input-number>
  <tui-input-number tuiTextfieldSize="s" formControlName="currentValue">
    Current Value ($)
    <input tuiTextfield />
  </tui-input-number>
  <tui-input-number tuiTextfieldSize="s" formControlName="appreciationRate">
    Appreciation Rate (%)
    <input tuiTextfield />
  </tui-input-number>
  <tui-input-number tuiTextfieldSize="s" formControlName="term">
    Term (Years)
    <input tuiTextfield />
  </tui-input-number>
  <tui-checkbox-block formControlName="taxable">Taxable</tui-checkbox-block>
  <tui-checkbox-block formControlName="liquid">Liquid</tui-checkbox-block>
  <tui-checkbox-block formControlName="toBeSold">To Be Sold</tui-checkbox-block>
  <tui-select formControlName="taxBracket">
    Tax Bracket
    <tui-data-list-wrapper
      *tuiDataList
      [items]="taxBrackets"></tui-data-list-wrapper>
  </tui-select>
</form>
<ng-template #elseBlock>
  <form
    class="asset-beneficiary-form gap-2 flex column m-start c-center"
    [formGroup]="assetEditBeneficiariesForm">
    <!-- Dynamically populate -->
    <div class="asset-section flex column m-start c-center gap-2">
      <tui-input-number tuiTextfieldSize="s" formControlName="allocation">
        Beneficiary 1 Allocation (%)
        <input tuiTextfield />
      </tui-input-number>
      <button
        tuiButton
        type="button"
        appearance="secondary"
        class="remove-button">
        Remove
      </button>
      <app-horizontal-divider></app-horizontal-divider>
    </div>
    <div class="asset-section flex column m-start c-center gap-2">
      <button
        tuiButton
        type="button"
        appearance="primary"
        class="remove-button">
        Add Beneficiary 2
      </button>
      <app-horizontal-divider></app-horizontal-divider>
    </div>
  </form>
</ng-template>
<div class="spacer"></div>
<div class="spacer"></div>
<app-action-bar
  (leftButtonClick)="cancel()"
  (rightButtonClick)="save()"></app-action-bar>
