<button
  tuiButton
  type="button"
  (click)="toggle(true)"
  (tuiActiveZoneChange)="toggle($event)">
  Show sidebar
  <div *tuiSidebar="open" class="flex column">
    <h3>Navigation</h3>
    <a icon="tuiIconUser" iconAlign="left" tuiLink>Client</a>
    <a icon="tuiIconUsers" iconAlign="left" tuiLink>Beneficiaries</a>
    <a icon="tuiIconBriefcase" iconAlign="left" tuiLink>Businesses</a>
    <a icon="tuiIconDollarSign" iconAlign="left" tuiLink>Assets</a>
    <a icon="tuiIconTrendingDown" iconAlign="left" tuiLink>Debts</a>
    <a icon="tuiIconFlag" iconAlign="left" tuiLink>Goals</a>
    <a icon="tuiIconBarChart2" iconAlign="left" tuiLink>Total Needs</a>

    <h3 id="client-label">Client</h3>
    <a icon="tuiIconPlus" iconAlign="left" tuiLink>New Client</a>
    <a icon="tuiIconDownload" iconAlign="left" tuiLink>Change Client</a>
    <a icon="tuiIconSave" iconAlign="left" tuiLink>Save to File</a>
    <a icon="tuiIconLogOut" iconAlign="left" tuiLink>Exit to Dashboard</a>
  </div>
</button>
