<button
  tuiButton
  type="button"
  (click)="toggle(true)"
  (tuiActiveZoneChange)="toggle($event)">
  Show sidebar
  <div *tuiSidebar="open" class="flex column">
    <h3>Navigation</h3>
    <app-horizontal-divider></app-horizontal-divider>
    <a icon="tuiIconUser" iconAlign="left" routerLink="/client" tuiLink
      >Client</a
    >
    <app-horizontal-divider></app-horizontal-divider>
    <a icon="tuiIconUsers" iconAlign="left" routerLink="/beneficiaries" tuiLink
      >Beneficiaries</a
    >
    <app-horizontal-divider></app-horizontal-divider>
    <a icon="tuiIconBriefcase" iconAlign="left" routerLink="/businesses" tuiLink
      >Businesses</a
    >
    <app-horizontal-divider></app-horizontal-divider>
    <a icon="tuiIconDollarSign" iconAlign="left" routerLink="/assets" tuiLink
      >Assets</a
    >
    <app-horizontal-divider></app-horizontal-divider>
    <a icon="tuiIconTrendingDown" iconAlign="left" routerLink="/debts" tuiLink
      >Debts</a
    >
    <app-horizontal-divider></app-horizontal-divider>
    <a icon="tuiIconFlag" iconAlign="left" routerLink="/goals" tuiLink>Goals</a>
    <a
      icon="tuiIconBarChart2"
      iconAlign="left"
      routerLink="/total-needs"
      tuiLink
      >Total Needs</a
    >
    <app-horizontal-divider></app-horizontal-divider>

    <h3 id="client-label">Client</h3>
    <app-horizontal-divider></app-horizontal-divider>
    <a icon="tuiIconPlus" iconAlign="left" tuiLink>New Client</a>
    <app-horizontal-divider></app-horizontal-divider>
    <a icon="tuiIconDownload" iconAlign="left" tuiLink>Change Client</a>
    <app-horizontal-divider></app-horizontal-divider>
    <a icon="tuiIconSave" iconAlign="left" tuiLink>Save to File</a>
    <app-horizontal-divider></app-horizontal-divider>
    <a icon="tuiIconLogOut" iconAlign="left" tuiLink>Exit to Dashboard</a>
    <app-horizontal-divider></app-horizontal-divider>
  </div>
</button>
