<form>
  <div class="input-container">
    <p>
      <tui-input tuiTextfieldSize="s">
        Name
        <input tuiTextfield />
      </tui-input>
    </p>
    <tui-input-date tuiUnfinishedValidator="Finish filling the field">
      Birthdate
    </tui-input-date>
    <tui-input-number> Expected Retirement Age </tui-input-number>

    <tui-select>
      Provinces
      <tui-data-list-wrapper *tuiDataList></tui-data-list-wrapper>
    </tui-select>

    <tui-input-number> Annual Income ($CAD) </tui-input-number>
    <tui-input-number> Income Replacement Multiplier </tui-input-number>

    <tui-select>
      Tax Bracket
      <tui-data-list-wrapper *tuiDataList></tui-data-list-wrapper>
    </tui-select>
  </div>
</form>
