<app-appbar pageName="Client"></app-appbar>
<tui-tabs class="nav-tabs" [(activeItemIndex)]="activeItemIndex">
  <button tuiTab>Input Data</button>
  <button tuiTab>Results</button>
</tui-tabs>
<form
  class="client-form flex column m-start c-center gap-2"
  *ngIf="activeItemIndex === 0; else elseBlock">
  <tui-input tuiTextfieldSize="s">
    Name
    <input tuiTextfield />
  </tui-input>
  <tui-input-date tuiUnfinishedValidator="Finish filling the field">
    Birthdate
  </tui-input-date>
  <tui-input-number> Expected Retirement Age </tui-input-number>

  <tui-select>
    Provinces
    <tui-data-list-wrapper *tuiDataList></tui-data-list-wrapper>
  </tui-select>

  <tui-input-number> Annual Income ($CAD) </tui-input-number>
  <tui-input-number> Income Replacement Multiplier </tui-input-number>

  <tui-select>
    Tax Bracket
    <tui-data-list-wrapper *tuiDataList></tui-data-list-wrapper>
  </tui-select>
</form>
<ng-template #elseBlock>
  <div>
    <h1>Results</h1>
  </div>
</ng-template>
