<app-calculator>
  <tui-tabs
    class="nav-tabs flex row m-center"
    [(activeItemIndex)]="mainActiveItemIndex">
    <button tuiTab>Input Data</button>
    <button tuiTab>Results</button>
  </tui-tabs>
  <form
    class="business-form flex column m-start c-center"
    *ngIf="mainActiveItemIndex === 0; else elseBlock">
    <div class="business-info-dynamic-section flex column m-start c-center">
      <!-- This class needs to be dynamically created per business -->
      <tui-input tuiTextfieldSize="s" class="business-input">
        Name
        <input tuiTextfield />
      </tui-input>
      <tui-input-number class="business-input"
        >Valuation ($CAD)</tui-input-number
      >
      <button
        tuiButton
        appearance="secondary"
        type="button"
        class="edit-button">
        Edit
      </button>
      <button
        tuiButton
        type="button"
        appearance="secondary-destructive"
        class="delete-button">
        Delete
      </button>
      <app-horizontal-divider class="info-divider"></app-horizontal-divider>
    </div>
    <button tuiButton type="button" class="add-new-button">Add New</button>
    <!-- Pressing this button will add a new beneficiary info section which is by default empty. -->
  </form>
  <ng-template #elseBlock>
    <div class="business-result-container flex column c-center gap-2">
      <app-line-chart header="EBITDA ($CAD)"></app-line-chart>
      <app-line-chart header="Share Value ($CAD)"></app-line-chart>
      <h1 class="divider-label">Shareholder Totals:</h1>
      <div class="flex row gap-2">
        <app-value-card
          [value]="{ label: 'Total Shareholder % Owned', value: '37%' }"
          [compact]="true"></app-value-card>
        <app-value-card
          [value]="{ label: 'Total EBITDA Contribution', value: '69%' }"
          [compact]="true"></app-value-card>
      </div>
      <app-value-card
        [value]="{
          label: 'Total Major Shareholder Value ($CAD)',
          value: '$1,000,000'
        }"
        [compact]="true"></app-value-card>
      <app-value-card
        [value]="{
          label: 'Total Major Shareholder Insurance ($CAD)',
          value: '$1,000,000'
        }"
        [compact]="true"></app-value-card>
      <app-value-card
        [value]="{
          label: 'Total Major Shareholder Disparity ($CAD)',
          value: '$1,000,000'
        }"
        [compact]="true"></app-value-card>
      <h1 class="divider-label">Shareholders:</h1>
      <app-value-list-card
        header="Shareholder name here"
        [values]="valueList"></app-value-list-card>
      <app-value-list-card
        header="Shareholder name here"
        [values]="valueList"></app-value-list-card>
    </div>
  </ng-template>
</app-calculator>
