<h1>Custom Components</h1>
<h2>Subscription Card Component</h2>
<app-subscription-card></app-subscription-card>
<h2>Landing Page Card Component</h2>
<app-landing-card
  header="Dynamic Needs Analysis Calculator"
  buttonText="Launch Calculator"></app-landing-card>
<h2>Result Card Component</h2>
<app-result-card header="Age" result="25"></app-result-card>
<h2>Compact Result Card Component</h2>
<app-result-card
  header="Amount Insured for Income ($CAD)"
  result="$1,000,000"
  [compact]="true"></app-result-card>
