<h1>Custom Components</h1>
<h2>Subscription Card Component</h2>
<app-subscription-card></app-subscription-card>
<h2>Landing Page Card Component</h2>
<app-landing-card
  header="Dynamic Needs Analysis Calculator"
  buttonText="Launch Calculator"></app-landing-card>
<h2>Value Card Component</h2>
<app-value-card header="Age" result="25"></app-value-card>
<h2>Compact Value Card Component</h2>
<app-value-card
  header="Amount Insured for Income ($CAD)"
  result="$1,000,000"
  [compact]="true"></app-value-card>
<h2>Line Chart Component</h2>
<app-line-chart header="Some Data Over Time"></app-line-chart>
