<app-calculator>
  <tui-tabs
    class="nav-tabs flex row m-center"
    [(activeItemIndex)]="activeItemIndex">
    <button tuiTab>Input Data</button>
    <button tuiTab>Results</button>
  </tui-tabs>
  <form
    class="total-needs-form flex column m-start c-center gap-2"
    *ngIf="activeItemIndex === 0; else elseBlock">
    <p>Income Replacement - Need $5,000,000</p>
    <tui-input-slider formControlName="totalNeedsForm" [max]="100" [quantum]="1"
      >Priority</tui-input-slider
    >
    <tui-input tuiTextfieldSize="s">
      Want
      <input tuiTextfield />
    </tui-input>

    <p>Estate Tax Liability - Need $5,000,000</p>
    <tui-input-slider formControlName="totalNeedsForm" [max]="100" [quantum]="1"
      >Priority</tui-input-slider
    >
    <tui-input tuiTextfieldSize="s">
      Want
      <input tuiTextfield />
    </tui-input>

    <p>Equalization - Need $5,000,000</p>
    <tui-input-slider formControlName="totalNeedsForm" [max]="100" [quantum]="1"
      >Priority</tui-input-slider
    >
    <tui-input tuiTextfieldSize="s">
      Want
      <input tuiTextfield />
    </tui-input>

    <p>Goal Shortfall - Need $5,000,000</p>
    <tui-input-slider formControlName="totalNeedsForm" [max]="100" [quantum]="1"
      >Priority</tui-input-slider
    >
    <tui-input tuiTextfieldSize="s">
      Want
      <input tuiTextfield />
    </tui-input>

    <!-- Populate dynamically -->

    <p>business 1 Key-Man: shareholder - Need $5,000,000</p>
    <tui-input-slider formControlName="totalNeedsForm" [max]="100" [quantum]="1"
      >Priority</tui-input-slider
    >
    <tui-input tuiTextfieldSize="s">
      Want
      <input tuiTextfield />
    </tui-input>

    <p>business 1 Shareholder Agreement: shareholder - Need $5,000,000</p>
    <tui-input-slider formControlName="totalNeedsForm" [max]="100" [quantum]="1"
      >Priority</tui-input-slider
    >
    <tui-input tuiTextfieldSize="s">
      Want
      <input tuiTextfield />
    </tui-input>

    <tui-notification status="warning" [hasIcon]="true">
      Check to ensure all priorities are set
    </tui-notification>
  </form>
  <ng-template #elseBlock>
    <div class="total-needs-result-container gap-2 flex column c-center">
      <app-multi-value-card
        header="Total"
        [values]="testValues"
        [compact]="false"></app-multi-value-card>
      <app-multi-value-card
        header="Income Replacement"
        [values]="testValues"
        [compact]="true"></app-multi-value-card>
      <app-multi-value-card
        header="Estate Tax Liability"
        [values]="testValues"
        [compact]="true"></app-multi-value-card>
      <app-multi-value-card
        header="Equalization"
        [values]="testValues"
        [compact]="true"></app-multi-value-card>
      <app-multi-value-card
        header="Goal Shortfall"
        [values]="testValues"
        [compact]="true"></app-multi-value-card>
      <!-- Populate dynamically -->
      <app-multi-value-card
        header="business Key-Man: shareholder"
        [values]="testValues"
        [compact]="true"></app-multi-value-card>
      <app-multi-value-card
        header="business Shareholder Agreement: shareholder"
        [values]="testValues"
        [compact]="true"></app-multi-value-card>
    </div>
  </ng-template>
</app-calculator>
