<app-calculator>
  <tui-tabs
    class="nav-tabs flex row m-center"
    [(activeItemIndex)]="activeItemIndex">
    <button tuiTab>Input Data</button>
    <button tuiTab>Results</button>
  </tui-tabs>
  <form
    class="beneficiary-form flex column m-start c-center"
    *ngIf="activeItemIndex === 0; else elseBlock">
    <div class="beneficiary-info-dynamic-section">
      <!-- This class needs to be dynamically created per beneficiary -->
      <tui-input tuiTextfieldSize="s" class="beneficiary-input">
        Name
        <input tuiTextfield />
      </tui-input>
      <tui-input-number class="beneficiary-input">Allocation</tui-input-number>
      <app-horizontal-divider class="info-divider"></app-horizontal-divider>
    </div>
    <button tuiButton type="button" class="add-new-button">Add New</button>
    <!-- Pressing this button will add a new beneficiary info section which is by default empty. -->
  </form>
  <ng-template #elseBlock>
    <div class="beneficiary-result-container flex column c-center gap-2">
      <app-pie-chart header="Desired Beneficiary Allocation"></app-pie-chart>
      <app-pie-chart header="Real Beneficiary Distribution"></app-pie-chart>
      <app-bar-chart header="Asset Value Distribution"></app-bar-chart>
    </div>
  </ng-template>
</app-calculator>
